:root {
    --vp-c-brand: var(--sun-color-primary);
    --vp-c-brand-1: var(--sun-color-primary);
    --vp-c-brand-2: var(--sun-color-primary);
    --vp-c-brand-3: var(--sun-color-primary);
    --vp-c-brand-soft: var(--sun-color-primary);
}
body {
  color: var(--vp-c-text-1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
  color: var(--vp-c-text-1);
}